﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SAECORP</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/libs/materialize/css/materialize.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/assets/libs/sweetalert/sweet-alert.css" rel="stylesheet" />
    <link href="~/Content/assets/libs/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/assets/libs/owl-carousel/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/assets/libs/owl-carousel/owl.transitions.css" rel="stylesheet" />
    <link href="~/Content/assets/css/main.css" rel="stylesheet" />
    <link href="~/Content/assets/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/assets/css/colors/color1.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/app/AppMain.js"></script>
</head>
<body @*oncontextmenu="return false" onkeydown="return false" onmousedown="return false"*@>
    <main id="app" class="main-section">
        <!-- header navigation start -->
        <header id="navigation" class="root-sec white nav">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="nav-inner">
                            <nav class="primary-nav">
                                <div class="clearfix nav-wrapper">
                                    <a href="#home" class="left brand-logo menu-smooth-scroll" data-section="#home">
                                        <img src="~/Content/images/logo2.png" alt="">
                                    </a>
                                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                                    <ul class="right static-menu">
                                        <!--<li class="search-form-li">
                                          <a id="initSearchIcon" class=""><i class="mdi-action-search"></i> </a>
                                          <div class="search-form-wrap hide">
                                            <form action="#" class="">
                                              <input type="search" class="search">
                                              <button type="submit"><i class="mdi-action-search"></i>
                                              </button>
                                            </form>
                                          </div>
                                        </li>-->
                                        <!--<li>
                                          <a class="dropdown-button blog-submenu-init" href="#!" data-activates="dropdown1">
                                            <i class="mdi-navigation-more-vert right"></i>
                                          </a>
                                        </li>-->
                                    </ul>
                                    <ul class="inline-menu side-nav" id="mobile-demo">

                                        <!-- Mini Profile // only visible in Tab and Mobile -->
                                        <li class="mobile-profile">
                                            <div class="profile-inner">
                                                <div class="pp-container">
                                                    @*<img src="~/Content/images/sae.png" alt="">*@
                                                </div>
                                                <br />
                                                <h3>SAECORP</h3>
                                                <h5>Desarrollo de Software</h5>
                                            </div>
                                        </li><!-- mini profile end-->
                                        <!--<li><a href="#about" data-section="#about" class="menu-smooth-scroll"><i class="fa fa-user fa-fw"></i>Acerca de Mi</a>
                                        </li>-->
                                        <li>
                                            <a href="#resume" data-section="#resume" class="menu-smooth-scroll"><i class="fa fa-file-text fa-fw"></i>Habilidades</a>
                                        </li>
                                        <li>
                                            <a href="#portfolio" data-section="#portfolio" class="menu-smooth-scroll"><i class="fa fa-briefcase fa-fw"></i>Servicios</a>
                                        </li>
                                        <li>
                                            <a href="#team" data-section="#team" class="menu-smooth-scroll"><i class="fa fa-users fa-fw"></i>Equipo</a>
                                        </li>
                                        <!--<li><a href="#testimonial" data-section="#testimonial" class="menu-smooth-scroll"><i class="fa fa-comments fa-fw"></i>Referencias</a>
                                        </li>
                                        <li><a href="#blog" data-section="#blog" class="menu-smooth-scroll"><i class="fa fa-pencil fa-fw"></i>Blog</a>
                                        </li>-->
                                        <li>
                                            <a href="#contact" data-section="#contact" class="menu-smooth-scroll"><i class="fa fa-paper-plane fa-fw"></i>Contactenos</a>
                                        </li>
                                    </ul>
                                    <!--<ul id="dropdown1" class="inline-menu submenu-ul dropdown-content">
                                      <li>Inico</li>
                                      <li><a href="blog.html">All Blog</a>
                                      </li>
                                      <li><a href="blog-with-sidebar.html">Blog with Sidebar</a>
                                      </li>
                                      <li><a href="single.html">Single Blog</a>
                                      </li>
                                    </ul>-->

                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .container end -->
        </header>
        <!-- #header  navigation end -->
        @RenderBody()
        <!-- Footer Section end -->
        <footer id="footer" class="root-sec white root-sec footer-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="clearfix footer-inner">
                            <ul class="left social-icons">
                                <li>
                                    <a href="https://www.facebook.com/saecorp/" class="tooltips tooltipped facebook" data-position="top" data-delay="50" data-tooltip="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCSq0pA8YfY8ukKwtqbD-V4Q" class="tooltips tooltipped facebook" data-position="top" data-delay="50" data-tooltip="Youtube" target="_blank"><i class="fa fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/saecorp7" class="tooltips tooltipped facebook" data-position="top" data-delay="50" data-tooltip="Twitter" target="_blank"><i class="fa fa-twitter"></i></a"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/saecorp7/?hl=es-la" class="tooltips tooltipped facebook" data-position="top" data-delay="50" data-tooltip="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul> <!-- ./social icons end -->
                            <div class="right copyright">
                                <p>@DateTime.Now.Year - Soluciones Ágiles Ecuador &copy; Todos los derechos reservados</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <a href="https://www.contadorvisitasgratis.com" title="contador de visitas para blogger"><img src="https://counter9.freecounter.ovh/private/contadorvisitasgratis.php?c=r974h2uuzy1r15yyj5l7dss3br9e29p6" border="0" title="contador de visitas para blogger" alt="contador de visitas para blogger"></a>
                    </div>
                </div>
            </div> <!-- ./container end-->
        </footer>
        <!-- #footer end -->
    </main>
    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/js/detectmobilebrowser.js"></script>
    <script src="~/Scripts/js/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/js/wow.min.js"></script>
    <script src="~/Scripts/js/waypoints.js"></script>
    <script src="~/Scripts/js/jquery.counterup.min.js"></script>
    <script src="~/Scripts/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="~/Scripts/js/gmaps.js"></script>
    <script src="~/Content/assets/libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/assets/libs/materialize/js/materialize.min.js"></script>
    <script src="~/Content/assets/libs/jwplayer/jwplayer.js"></script>
    <script src="~/Content/assets/libs/sweetalert/sweet-alert.min.js"></script>
    <script src="~/Scripts/js/common.js"></script>
    <script src="~/Scripts/js/main.js"></script>
</body>
</html>
