﻿@{
    ViewBag.Title = "Inicio";
}
<script src="~/Scripts/Services/ComentariosService.js"></script>
<section id="home" class="scroll-section root-sec grey lighten-5 home-wrap">
    <div class="sec-overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="home-inner">
                        <div class="center-align home-content">
                            <h1 class="home-title">SOMOS <span>SOLUCIONES AGILES ECUADOR</span></h1>
                            <h2 class="home-subtitle">Agilizamos el trabajo en sus empresas</h2>
                            <a href="#contact" class="hire-me-btn btn waves-effect waves-light btn-large brand-bg white-text regular-text">
                                Conoce más<!--<i class="mdi-content-send left"></i> -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .container end -->
        <div class="section-call-to-area">
            <div class="container">
                <div class="row">
                    <a href="#about" class="btn-floating btn-large button-middle call-to-about section-call-to-btn animated btn-up btn-hidden" data-section="#about">
                        <i class="mdi-navigation-expand-more"></i>
                    </a>
                </div>
            </div>
            <!-- .container end -->
        </div>
    </div>
</section>
<!-- #home Section end -->
<!-- About Section start -->
<section id="about" class="scroll-section root-sec padd-tb-60 grey lighten-5 about-wrap">
    <div class="container">
        <div class="row">
            <!--<div class="clearfix about-inner">

              <div class="col-sm-12 col-md-4">
                <div class="person-about">
                  <h3 class="about-subtitle">My Story</h3>
                  <p>Hello, I’m a <br />
                  And</p>
                  <a class="waves-effect waves-light btn-large brand-bg white-text"><i class="mdi-content-archive left"></i> Descargar curriculum</a>
                </div>
              </div>
              <!-- about me description --

              <div class="col-sm-6 col-md-4">
                <div class="person-img wow fadeIn">
                  <img class="z-depth-1" src="~/Content/images/ivan.jpg" alt="">
                </div>
              </div>
              <!-- about me image --

              <div class="col-sm-6 col-md-4">
                <div class="person-info">
                  <h3 class="about-subtitle">Acerca de mí</h3>
                  <h5><span>Nombre :</span>Ivan Fernando Paz</h5>
                  <h5><span>Edad :</span> 22 Años</h5>
                  <h5><span>Telefono :</span> +593 989297817</h5>
                  <h5><span>Email :</span>ifer343@gmail.com</h5>
                  <h5><span>Direccion :</span>Santo Domingo - Ecuador </h5>
                </div>

                <div class="about-social">
                  <ul>
                    <li>
                      <a href="http://facebook.com/ifer777" class="btn-floating waves-effect waves-light white" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="https://twitter.com/iferpaz7" class="btn-floating waves-effect waves-light white" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <!--<li>
                      <a href="#" class="btn-floating waves-effect waves-light white"><i class="fa fa-google-plus"></i></a>
                     </li>--
                    <li>
                      <a href="https://www.linkedin.com/in/ivanfernandopaz/" class="btn-floating waves-effect waves-light white" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <!--<li>
                      <a href="#" class="btn-floating waves-effect waves-light white"><i class="fa fa-pinterest"></i></a>
                    </li>--
                  </ul>
                </div>
              </div>
              <!-- about me info -->
            @*</div>*@
        </div>
    </div>
    <!-- .container end -->
</section>
<!-- #about Section end -->
<!-- Resume Section start -->
<section id="resume" class="scroll-section ">
    <section id="skill" class="root-sec white skill-wrap">
        <div class="sec-overlay">
            <div class="container">
                <div class="row">
                    <div class="clearfix skill-inner">
                        <div class="col-sm-12 col-md-3">
                            <div class="skill-left">
                                <h2 class="title">Nuestras Habilidades</h2>
                                <p class="regular-text">Nos preparamos para brindarle el Mejor Servicio</p>
                            </div>
                        </div>
                        <!-- skills container -->
                        <div class="col-sm-12 col-md-6 col-md-offset-1">
                            <div class="skill-right">
                                <div id="skillSlider" class="clearfix skill-graph">


                                    <!-- single skill -->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="75%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">AngularJs</span>
                                                        <div class="hr-wrap">
                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="skill-count"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->
                                    <!-- single skill -->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="75%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">C#</span>
                                                        <div class="hr-wrap">
                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<span class="skill-count">60%</span>*@
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->
                                    <!-- single skill -->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="80%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">SQL</span>
                                                        <div class="hr-wrap">
                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="skill-count"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->
                                    <!-- single skill -->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="85%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">Html/CSS</span>
                                                        <div class="hr-wrap">

                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<span class="skill-count">85%</span>*@
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->
                                    <!-- single skill --
                                    <div class="single-skill">
                                      <div class="after-li">
                                        <div class="singel-hr">
                                          <div class="singel-hr-inner" data-height="100%">
                                            <div class="skill-visiable">
                                              <span class="skill-title">Photoshop</span>
                                              <div class="hr-wrap">
                                                <div class="hrc"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <span class="skill-count">100%</span>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- /single skill-->
                                    <!-- single skill --
                                    <div class="single-skill">
                                      <div class="after-li">
                                        <div class="singel-hr">
                                          <div class="singel-hr-inner" data-height="60%">
                                            <div class="skill-visiable">
                                              <span class="skill-title">JavaScript</span>
                                              <div class="hr-wrap">
                                                <div class="hrc"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <span class="skill-count">60%</span>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- /single skill-->
                                    <!-- single skill -->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="60%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">Multimedia</span>
                                                        <div class="hr-wrap">

                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="skill-count"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->
                                    <div class="single-skill">
                                        <div class="after-li">
                                            <div class="singel-hr">
                                                <div class="singel-hr-inner" data-height="75%">
                                                    <div class="skill-visiable">
                                                        <span class="skill-title">Metodologías</span>
                                                        <div class="hr-wrap">

                                                            <div class="hrc"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="skill-count"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /single skill-->
                                </div>
                            </div>
                        </div>
                        <!-- /skills container -->
                    </div>
                </div>
                <div class="btn-wrapp skl-ctrl">
                    <a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-left"><i class="mdi-navigation-chevron-left "></i></a>
                    <a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-right"><i class="mdi-navigation-chevron-right "></i></a>
                </div>
            </div>
        </div>
        <!-- .container end -->
    </section>
    <!--
    <section id="experience" class="root-sec padd-tb-120 brand-bg experience-wrap">
      <div class="container">
        <div class="row">
          <div class="experience-inner">
            <div class="col-sm-12 col-md-10 card-box-wrap">
              <div class="row">
                <div class="clearfix section-head experience-text">
                  <div class="col-sm-12">
                    <h2 class="title">Experience</h2>
                    <p class="regular-text">Aliquam lobortis. Maecenas vestibulum mollis diam. Pellentesque auctor neque nec urna. Nulla sit amet est. Aenean posuere tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.</p>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="overflow-hidden">
                    <div class="row">
                      <div id="experienceSlider" class="clearfix card-element-wrapper">
                        <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <h2 class="left-align card-title-top">January 2014 - Present</h2>
                              <div class="valign-wrapper card-img-wrap">
                                <img class="activator" src="http://placehold.it/400x300" alt="">
                              </div>
                            </div>
                            <div class="card-content">
                              <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-more-vert right"></i></span>
                              <p>Apple.inc</p>
                            </div>
                            <div class="card-reveal">
                              <div class="rev-title-wrap">
                                <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-close right"></i></span>
                                <p>Apple.inc</p>
                              </div>
                              <p class="rev-content">
                                Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration=".7s">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <h2 class="left-align card-title-top">January 2014 - Present</h2>
                              <div class="valign-wrapper card-img-wrap">
                                <img class="activator" src="http://placehold.it/400x300" alt="">
                              </div>
                            </div>
                            <div class="card-content">
                              <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-more-vert right"></i></span>
                              <p>Android One</p>
                            </div>
                            <div class="card-reveal">
                              <div class="rev-title-wrap">
                                <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-close right"></i></span>
                                <p>Android One</p>
                              </div>
                              <p class="rev-content">
                                Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-delay=".4s" data-wow-duration=".7s">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <h2 class="left-align card-title-top">January 2014 - Present</h2>
                              <div class="valign-wrapper card-img-wrap">
                                <img class="activator" src="http://placehold.it/400x300" alt="">
                              </div>
                            </div>
                            <div class="card-content">
                              <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-more-vert right"></i></span>
                              <p>Android One</p>
                            </div>
                            <div class="card-reveal">
                              <div class="rev-title-wrap">
                                <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-close right"></i></span>
                                <p>Android One</p>
                              </div>
                              <p class="rev-content">
                                Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 cold-xs-12 single-card-box">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <h2 class="left-align card-title-top">January 2014 - Present</h2>
                              <div class="valign-wrapper card-img-wrap">
                                <img class="activator" src="http://placehold.it/400x300" alt="">
                              </div>
                            </div>
                            <div class="card-content">
                              <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-more-vert right"></i></span>
                              <p>Windows Phone</p>
                            </div>
                            <div class="card-reveal">
                              <div class="rev-title-wrap">
                                <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-close right"></i></span>
                                <p>Windows Phone</p>
                              </div>
                              <p class="rev-content">
                                Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 cold-xs-12 single-card-box">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <h2 class="left-align card-title-top">January 2014 - Present</h2>
                              <div class="valign-wrapper card-img-wrap">
                                <img class="activator" src="http://placehold.it/400x300" alt="">
                              </div>
                            </div>
                            <div class="card-content">
                              <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-more-vert right"></i></span>
                              <p>Windows Phone</p>
                            </div>
                            <div class="card-reveal">
                              <div class="rev-title-wrap">
                                <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-close right"></i></span>
                                <p>Windows Phone</p>
                              </div>
                              <p class="rev-content">
                                Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-wrapp exp-ctrl">
              <a class="btn-floating waves-effect waves-light btn-large white go go-left"><i class="mdi-navigation-chevron-left brand-text"></i></a>
              <a class="btn-floating waves-effect waves-light btn-large white go go-right"><i class="mdi-navigation-chevron-right brand-text"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>--

    <section id="education" class="root-sec grey lighten-5 padd-tb-120 education-wrap">
      <div class="container">
        <div class="row">
          <div class="education-inner">
            <div class="col-sm-12 col-md-10 card-box-wrap">
              <div class="row">
                <div class="clearfix section-head education-text">
                  <div class="col-sm-12">
                    <h2 class="title">educación</h2>
                    <p class="regular-text">Estudiamos en el ITSAE</p>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="overflow-hidden">
                    <div class="row">
                      <div id="educationSlider" class="clearfix card-element-wrapper">

                      <!-- single education --
                        <div class="col-sm-4 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <h2 class="left-align card-title-top">2017 - </h2>
                              <div class="card-img-wrap">
                                <img class="activator" src="http://placehold.it/400x300" alt="">
                              </div>
                            </div>
                            <div class="card-content">
                              <span class="card-title activator brand-text">Estudiante<i class="mdi-navigation-more-vert right"></i></span>
                              <p>Oxford University</p>
                            </div>
                            <!-- Reveal content--
                            <div class="card-reveal">
                              <div class="rev-title-wrap">
                                <span class="card-title activator brand-text">Estudios Avanzados<i class="mdi-navigation-close right"></i></span>
                                <p>Oxford University</p>
                              </div>
                              <p class="rev-content">
                                Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                              </p>
                            </div>
                          </div>
                        </div> <!-- single education end --

                        <!-- single education --
                        <div class="col-sm-4 single-card-box wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration=".7s">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <h2 class="left-align card-title-top">2016 - 2017</h2>
                              <div class="card-img-wrap">
                                <img class="activator" src="http://placehold.it/400x300" alt="">
                              </div>
                            </div>
                            <div class="card-content">
                              <span class="card-title activator brand-text">Bachelor of Science<i class="mdi-navigation-more-vert right"></i></span>
                              <p>Oxford University</p>
                            </div>
                            <div class="card-reveal">
                              <div class="rev-title-wrap">
                                <span class="card-title activator brand-text">Bachelor of Science<i class="mdi-navigation-close right"></i></span>
                                <p>Oxford University</p>
                              </div>
                              <p class="rev-content">
                                Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                              </p>
                            </div>
                          </div>
                        </div> <!-- single education --

                      <!-- single education --
                        <div class="col-sm-4 single-card-box wow fadeInUpSmall" data-wow-delay=".4s" data-wow-duration=".7s">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <h2 class="left-align card-title-top">2015 - 2016</h2>
                              <div class="card-img-wrap">
                                <img class="activator" src="http://placehold.it/400x300" alt="">
                              </div>
                            </div>
                            <div class="card-content">
                              <span class="card-title activator brand-text">A Level<i class="mdi-navigation-more-vert right"></i></span>
                              <p>Oxford College</p>
                            </div>
                            <div class="card-reveal">
                              <div class="rev-title-wrap">
                                <span class="card-title activator brand-text">A Level<i class="mdi-navigation-close right"></i></span>
                                <p>Oxford College</p>
                              </div>
                              <p class="rev-content">
                                Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                              </p>
                            </div>
                          </div>
                        </div> <!-- single education -->
    <!-- single education
                          <div class="col-sm-4 single-card-box">
                            <div class="card">
                              <div class="card-image waves-effect waves-block waves-light">
                                <h2 class="left-align card-title-top">1995 - 2005</h2>
                                <div class="card-img-wrap">
                                  <img class="activator" src="http://placehold.it/400x300" alt="">
                                </div>
                              </div>
                              <div class="card-content">
                                <span class="card-title activator brand-text">O Level<i class="mdi-navigation-more-vert right"></i></span>
                                <p>Oxford School</p>
                              </div>
                              <div class="card-reveal">
                                <div class="rev-title-wrap">
                                  <span class="card-title activator brand-text">O Level<i class="mdi-navigation-close right"></i></span>
                                  <p>Oxford School</p>
                                </div>
                                <p class="rev-content">
                                  Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                                </p>
                              </div>
                            </div>
                          </div> <!-- single education --
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn-wrapp edu-ctrl">
                <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-left"><i class="mdi-navigation-chevron-left"></i></a>
                <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-right"><i class="mdi-navigation-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <!-- #resume Section end -->
    <!-- Portfolio Section start-->
    <section id="portfolio" class="scroll-section root-sec white portfolio-wrap">
        <div class="padd-tb-120 brand-bg portfolio-top">
            <div class="portfolio-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="title">Servicios</h2>
                            <ul class="inline-menu clearfix portfolio-category" id="portfolio-msnry-sort">
                                <li class="active">
                                    <a href="#" data-target="*">Todos</a>
                                </li>
                                <li>
                                    <a href="#" data-target=".category-1">Desarrollo de Software </a>
                                </li>
                                <li>
                                    <a href="#" data-target=".category-2">Producción Multimedia</a>
                                </li>
                                <li>
                                    <a href="#" data-target=".category-3">Diseño Gráfico</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .container end -->
        </div>
        <div id="portfolioModal" class="modal white">
            <div class="model-img"></div>
            <div class="modal-content">
                <h2 class="title"></h2>
                <p class="m-content"></p>
            </div>
            <div class="modal-footer">
                <a href="http://tinyurl.com/jdymnat" target="_blank" class="waves-effect btn-flat brand-text modal-action">Live Demo</a>
                <a href="#" class="waves-effect btn-flat brand-text modal-action modal-close">cancel</a>
            </div>
        </div>
        <div class="portfolio-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="clearfix protfolio-item" id="protfolio-msnry">
                            <!-- Single Portfolio -->
                            <li class="single-port-item category-1">
                                <a href="#portfolioModal" class="waves-effect waves-block waves-light modal-trigger" data-image-source="http://placehold.it/650x350" data-title="Your awesome portfolio title" data-content="" data-demo-link="#">
                                    <!-- Portfolio pop-up content -->
                                    <div class="protfolio-image">
                                        <img src="http://placehold.it/390x280" alt="portfolio"> <!-- portfolio thumbnail -->
                                        <div class="protfolio-content waves-effect waves-block waves-light">
                                            <div class="protfolio-content__inner">
                                                <h2 class="p-title">Desarrollo Web</h2>
                                            </div>
                                        </div>
                                        <div class="p-overlay"></div>
                                    </div>
                                </a>
                            </li>
                            <li class="single-port-item category-1">
                                <a href="#portfolioModal" class="waves-effect waves-block waves-light modal-trigger" data-image-source="http://placehold.it/650x350" data-title="Your awesome portfolio title" data-content="" data-demo-link="#">
                                    <!-- Portfolio pop-up content -->
                                    <div class="protfolio-image">
                                        <img src="http://placehold.it/390x280" alt="portfolio"> <!-- portfolio thumbnail -->
                                        <div class="protfolio-content waves-effect waves-block waves-light">
                                            <div class="protfolio-content__inner">
                                                <h2 class="p-title">Desarrollo de Apps</h2>
                                            </div>
                                        </div>
                                        <div class="p-overlay"></div>
                                    </div>
                                </a>
                            </li>
                            <li class="single-port-item category-1">
                                <a href="#portfolioModal" class="waves-effect waves-block waves-light modal-trigger" data-image-source="http://placehold.it/650x350" data-title="Your awesome portfolio title" data-content="" data-demo-link="#">
                                    <!-- Portfolio pop-up content -->
                                    <div class="protfolio-image">
                                        <img src="http://placehold.it/390x280" alt="portfolio"> <!-- portfolio thumbnail -->
                                        <div class="protfolio-content waves-effect waves-block waves-light">
                                            <div class="protfolio-content__inner">
                                                <h2 class="p-title">Análisis de Datos</h2>
                                            </div>
                                        </div>
                                        <div class="p-overlay"></div>
                                    </div>
                                </a>
                            </li>
                            <!--/ single portfolio -->
                            <li class="single-port-item category-2">
                                <a href="#portfolioModal" class="waves-effect waves-block waves-light modal-trigger" data-image-source="http://placehold.it/650x350" data-title="Your awesome portfolio title" data-content="" data-demo-link="#">
                                    <div class="protfolio-image">
                                        <img src="http://placehold.it/390x280" alt="portfolio">
                                        <div class="protfolio-content waves-effect waves-block waves-light">
                                            <div class="protfolio-content__inner">
                                                <h2 class="p-title">Edición de Video</h2>
                                            </div>
                                        </div>
                                        <div class="p-overlay"></div>
                                    </div>
                                </a>
                            </li>
                            <!--/ single portfolio -->
                            <li class="single-port-item category-3">
                                <a href="#portfolioModal" class="waves-effect waves-block waves-light modal-trigger" data-image-source="http://placehold.it/650x350" data-title="Your awesome portfolio title" data-content="" data-demo-link="#">
                                    <div class="protfolio-image">
                                        <img src="http://placehold.it/390x280" alt="portfolio">
                                        <div class="protfolio-content waves-effect waves-block waves-light">
                                            <div class="protfolio-content__inner">
                                                <h2 class="p-title">Marketing</h2>
                                            </div>
                                        </div>
                                        <div class="p-overlay"></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- portfolio load more button -->
                        <a id="portfolio-item-loader" href="#" class="btn-floating btn-large waves-effect waves-light brand-bg"><i class="mdi-content-add"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- #portfolio Section end -->
    <!-- Team Section end -->
    <section id="team" class="scroll-section root-sec brand-bg padd-tb-120 team-wrap">
        <div class="container">
            <div class="row">
                <div class="clearfix team-inner">
                    <div class="col-sm-12 col-md-10 card-box-wrap">
                        <div class="row">
                            <div class="clearfix section-head team-text">
                                <div class="col-sm-12">
                                    <h2 class="title">Nuestro equipo</h2>
                                    <p class="regular-text"></p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="overflow-hidden">
                                    <div class="row">
                                        <div id="teamSlider" class="clearfix card-element-wrapper">
                                            <div class="col-sm-4 single-card-box">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <div class="card-img-wrap">
                                                            <img class="activator" src="~/Content/images/ifer.JPG" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                        <span class="card-title activator brand-text">Ivan Fernando Paz<i class="mdi-navigation-more-vert right"></i></span>
                                                        <p>Fundador</p>
                                                        <p>Desarrollador de Software</p>
                                                        <p>0989297817</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                            <span class="card-title activator brand-text">Ivan Fernando Paz<i class="mdi-navigation-close right"></i></span>
                                                            <p>Desarrollador de Software</p>
                                                        </div>
                                                        <p class="rev-content">
                                                            - C# <br>
                                                            - Angularjs <br>
                                                            - SQL <br>
                                                            - RDLC Reports
                                                        </p>
                                                    </div>
                                                </div>
                                            </div> <!-- single team member -->
                                            <div class="col-sm-4 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <div class="card-img-wrap">
                                                            <img class="activator" src="~/Content/images/jeff.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                        <span class="card-title activator brand-text">Jefferson Mena<i class="mdi-navigation-more-vert right"></i></span>
                                                        <p>Co - Fundador</p>
                                                        <p>Desarrollador Back-End</p>
                                                        <p>0980307834</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                            <span class="card-title activator brand-text">Jefferson Mena<i class="mdi-navigation-close right"></i></span>
                                                            <p>Desarrollador Back-End</p>
                                                        </div>
                                                        <p class="rev-content">
                                                            - AngularJs <br>
                                                            - C# <br>
                                                            - SQL <br>
                                                            - Javascript <br>
                                                            - Php
                                                        </p>
                                                    </div>
                                                </div>
                                            </div> <!-- single team member -->
                                            <div class="col-sm-4 single-card-box wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration=".7s">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <div class="card-img-wrap">
                                                            <img class="activator" src="~/Content/images/jv2.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                        <span class="card-title activator brand-text">Jonathan Veas<i class="mdi-navigation-more-vert right"></i></span>
                                                        <p>Desarrollador de Software</p>
                                                        <p>0980708689</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                            <span class="card-title activator brand-text">Jonathan Veas<i class="mdi-navigation-close right"></i></span>
                                                            <p>Desarrrodor de Software</p>
                                                        </div>
                                                        <p class="rev-content">
                                                            - PHP <br>
                                                            - Html <br>
                                                            - Javascript <br>
                                                            - Python
                                                        </p>
                                                    </div>
                                                </div>
                                            </div> <!-- single team member -->
                                            <div class="col-sm-4 single-card-box wow fadeInUpSmall" data-wow-delay=".4s" data-wow-duration=".7s">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <div class="card-img-wrap">
                                                            <img class="activator" src="~/Content/images/byron.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                        <span class="card-title activator brand-text">Byron Araujo<i class="mdi-navigation-more-vert right"></i></span>
                                                        <p>Mantenimiento de Hardware</p>
                                                        <p>0989215904</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                            <span class="card-title activator brand-text">Byron Araujo<i class="mdi-navigation-close right"></i></span>
                                                            <p>Mantenimiento de Hardware</p>
                                                        </div>
                                                        <p class="rev-content">

                                                        </p>
                                                    </div>
                                                </div>
                                            </div> <!-- single team member -->
                                            <div class="col-sm-4 single-card-box">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <div class="card-img-wrap">
                                                            <img class="activator" src="~/Content/images/p.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                        <span class="card-title activator brand-text">Paul Paz<i class="mdi-navigation-more-vert right"></i></span>
                                                        <p>Asesoria Tecnológica</p>
                                                        <p>0980054603</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                            <span class="card-title activator brand-text">Paul Paz<i class="mdi-navigation-close right"></i></span>
                                                            <p>Asesoria Tecnológica</p>
                                                        </div>
                                                        <p class="rev-content">

                                                        </p>
                                                    </div>
                                                </div>
                                            </div> <!-- single team member -->
                                            <div class="col-sm-4 single-card-box">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <div class="card-img-wrap">
                                                            <img class="activator" src="~/Content/images/a.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                        <span class="card-title activator brand-text">Andrés Rojas<i class="mdi-navigation-more-vert right"></i></span>
                                                        <p>Diseño y planificación</p>
                                                        <p>0967557859</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                            <span class="card-title activator brand-text">Andrés Rojas<i class="mdi-navigation-close right"></i></span>
                                                            <p>Metodologías Agiles</p>
                                                        </div>
                                                        <p class="rev-content">

                                                        </p>
                                                    </div>
                                                </div>
                                            </div> <!-- single team member -->
                                        </div> <!-- #teamSlider end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrapp tmu-ctrl">
                        <a class="btn-floating waves-effect waves-light btn-large white go go-left"><i class="mdi-navigation-chevron-left brand-text"></i></a>
                        <a class="btn-floating waves-effect waves-light btn-large white go go-right"><i class="mdi-navigation-chevron-right brand-text"></i></a>
                    </div>
                </div>
            </div>

        </div> <!-- .container -->
    </section>
    <!-- #team Section end -->
    <!-- Funfacts Section end --
    <section id="funfacts" class="root-sec grey lighten-5 funfact-wrap">
    <div class="sec-inner padd-tb-120">
      <div class="container">
        <div class="row">
          <div class="funfact-inner">
            <div class="col-sm-4 funfact-box">
              <div class="center-align card-panel white">
                <div class="feature-box-outer">
                  <div class="funfact-box-inner">
                    <div class="clearfix ">
                      <i class="mdi-editor-insert-emoticon"></i>
                      <span class="num countNumb">150</span>
                    </div>
                    <div class="context">Happy clients</div>
                  </div>
                </div>
              </div>
            </div> <!-- ./single fun fact box --
            <div class="col-sm-4 funfact-box">
              <div class="center-align card-panel white">
                <div class="feature-box-outer">
                  <div class="funfact-box-inner">
                    <div class="clearfix ">
                      <i class="mdi-action-wallet-travel"></i>
                      <span class="num countNumb">230</span>
                    </div>
                    <div class="context">Project Completed</div>
                  </div>
                </div>
              </div>
            </div> <!-- ./single fun fact box --
            <div class="col-sm-4 funfact-box">
              <div class="center-align card-panel white">
                <div class="feature-box-outer">
                  <div class="funfact-box-inner">
                    <div class="clearfix ">
                      <i class="mdi-action-wallet-giftcard"></i>
                      <span class="num countNumb">79</span>
                    </div>
                    <div class="context">Award Won</div>
                  </div>
                </div>
              </div>
            </div> <!-- ./single fun fact box --
          </div>
        </div>

      </div>  <!-- .container end --
    </div>
    </section>
    <!-- #funfacts Section end -->
    <!-- Testimonial Section end
    <section id="testimonial" class="scroll-section root-sec brand-bg padd-tb-120 testimonial-wrap">
      <div class="container">
        <div class="row">
          <div class="testimonial-inner">
            <div class="col-sm-12 col-md-10 card-box-wrap">
              <div class="row">
                <div class="clearfix section-head testimonial-text">
                  <div class="col-sm-12">
                    <h2 class="title">testimonial</h2>
                    <p class="regular-text">Aliquam lobortis. Maecenas vestibulum mollis diam. Pellentesque auctor neque nec urna. Nulla sit amet est. Aenean posuere tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.</p>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="overflow-hidden">
                    <div class="row">
                      <div id="testimonialSlider" class="clearfix card-element-wrapper">
                        <div class="col-sm-6 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <div class="card-img-wrap">
                                <img class="activator" src="~/Content/images/avatar.png" alt="">
                                <p class="saying-about">Amazing theme, amazing code and especially amazing support! I Really love your work.</p>
                              </div>
                            </div>
                            <div class="card-content">
                              <span class="card-title activator brand-text">Jonh Smith -</span>
                              <a href="#">CEO, Apple Inc</a>
                            </div>
                          </div>
                        </div> <!-- ./single testimonial box
                        <div class="col-sm-6 single-card-box wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration=".7s">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <div class="card-img-wrap">
                                <img class="activator" src="~/Content/images/avatar.png" alt="">
                                <p class="saying-about">Amazing theme, amazing code and especially amazing support! I Really love your work.</p>
                              </div>
                            </div>
                            <div class="card-content">
                              <span class="card-title activator brand-text">Jonh Smith -</span>
                              <a href="#">CEO, Apple Inc</a>
                            </div>
                          </div>
                        </div> <!-- ./single testimonial box -
                        <div class="col-sm-6 single-card-box">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <div class="card-img-wrap">
                                <img class="activator" src="~/Content/images/avatar.png" alt="">
                                <p class="saying-about">Amazing theme, amazing code and especially amazing support ! I Really love your work.</p>
                              </div>
                            </div>
                            <div class="card-content">
                              <span class="card-title activator brand-text">Jonh Smith -</span>
                              <a href="#">CEO, Apple Inc</a>
                            </div>
                          </div>
                        </div> <!-- ./single testimonial box
                        <div class="col-sm-6 single-card-box">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <div class="card-img-wrap">
                                <img class="activator" src="~/Content/images/avatar.png" alt="">
                                <p class="saying-about">Amazing theme, amazing code and especially amazing support ! I Really love your work.</p>
                              </div>
                            </div>
                            <div class="card-content">
                              <span class="card-title activator brand-text">Jonh Smith -</span>
                              <a href="#">CEO, Apple Inc</a>
                            </div>
                          </div>
                        </div> <!-- ./single testimonial box -
                        <div class="col-sm-6 single-card-box">
                          <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <div class="card-img-wrap">
                                <img class="activator" src="~/Content/images/avatar.png" alt="">
                                <p class="saying-about">Amazing theme, amazing code and especially amazing support ! I Really love your work.</p>
                              </div>
                            </div>
                            <div class="card-content">
                              <span class="card-title activator brand-text">Jonh Smith -</span>
                              <a href="#">CEO, Apple Inc</a>
                            </div>
                          </div>
                        </div> <!-- ./single testimonial box
                      </div> <!-- #testimonialSlider end
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-wrapp tmo-ctrl">
              <a class="btn-floating waves-effect waves-light btn-large white go go-left"><i class="mdi-navigation-chevron-left brand-text"></i></a>
              <a class="btn-floating waves-effect waves-light btn-large white go go-right"><i class="mdi-navigation-chevron-right brand-text"></i></a>
            </div>
          </div>
        </div>
      </div> <!-- ./container end
    </section>-->
    <!-- #testimonial Section end -->
    <!-- Blog Section end
    <section id="blog" class="scroll-section root-sec grey lighten-5 padd-tb-120 blog-wrap">
      <div class="container">
        <div class="row">
          <div class="blog-inner">
            <div class="col-sm-12 card-box-wrap">
              <div class="row">
                <div class="clearfix section-head blog-text">
                  <div class="col-sm-10">
                    <h2 class="title">Blog</h2>
                    <p class="regular-text">A Web page that serves as a publicly accessible personal journal for an individual. Typically updated daily, blogs often reflect the personality of the author.</p>
                  </div>
                </div>
                <div class="clearfix card-element-wrapper" id="blog-posts">
                  <article class="col-sm-6 col-md-4 single-card-box single-post">
                    <div class="card wow fadeInUpSmall" data-wow-duration=".7s">
                      <div class="card-image">
                        <div class="card-img-wrap">
                          <div class="blog-post-thumb waves-effect waves-block waves-light">
                            <a href="single.html"><img class="activator" src="http://placehold.it/350x200" alt="">
                            </a>
                          </div>
                          <div class="post-body">
                            <a href="single.html" class="post-title-link brand-text"><h2 class="post-title">Awesome Post Title</h2></a>
                            <p class="post-content">In consectetuer turpis ut velit. Sed lectus. Ut varius tincidunt libero. Vivamus euismod mauris. Vestibulum fringilla pede sit amet augue. Ut varius tincidunt libero. Pellentesque dapibus hendrerit tortor. </p>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix card-content">
                        <a href="#" class="left js-favorite" title="Love this"><i class="mdi-action-favorite"></i><span class="numb">15</span></a>
                        <a href="single.html" class="brand-text right waves-effect">Read More</a>
                      </div>
                    </div>
                  </article> <!-- ./single blog post end
                  <article class="col-sm-6 col-md-4  single-card-box single-post">
                    <div class="card wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration=".7s">
                      <div class="card-image">
                        <div class="card-img-wrap">
                          <div class="blog-post-thumb waves-effect waves-block waves-light">
                            <a href="single.html"><img class="activator" src="http://placehold.it/350x200" alt="">
                            </a>
                          </div>
                          <div class="post-body">
                            <a href="single.html" class="post-title-link brand-text"><h2 class="post-title">An Image Post</h2></a>
                            <p class="post-content">In consectetuer turpis ut velit. Sed lectus. Ut varius tincidunt libero. Vivamus euismod mauris. Vestibulum fringilla pede sit amet augue. Ut varius tincidunt libero. Pellentesque dapibus hendrerit tortor. </p>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix card-content">
                        <a href="#" class="left js-favorite active" title="Love this"><i class="mdi-action-favorite"></i><span class="numb">23</span></a>
                        <a href="single.html" class="brand-text right waves-effect">Read More</a>
                      </div>
                    </div>
                  </article> <!-- ./single blog post end
                  <article class="col-sm-6 col-md-4 single-card-box single-post">
                    <div class="card wow fadeInUpSmall" data-wow-delay=".4s" data-wow-duration=".7s">
                      <div class="card-image">
                        <div class="card-img-wrap">
                          <div class="blog-post-thumb waves-effect waves-block waves-light">
                            <a href="single.html"><img class="activator" src="http://placehold.it/350x200" alt="">
                            </a>
                          </div>
                          <div class="post-body">
                            <a href="single.html" class="post-title-link brand-text"><h2 class="post-title">Another Image Post</h2></a>
                            <p class="post-content">In consectetuer turpis ut velit. Sed lectus. Ut varius tincidunt libero. Vivamus euismod mauris. Vestibulum fringilla pede sit amet augue. Ut varius tincidunt libero. Pellentesque dapibus hendrerit tortor. </p>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix card-content">
                        <a href="#" class="left js-favorite" title="Love this"><i class="mdi-action-favorite"></i><span class="numb">17</span></a>
                        <a href="single.html" class="brand-text right waves-effect">Read More</a>
                      </div>
                    </div>
                  </article> <!-- ./single blog post end
                </div>
                <div class="clearfix left-align">
                  <div class="col-sm-12">
                    <a href="blog.html" class="waves-effect waves-light btn-large load-more">See More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- ./container --
    </section>
    <!-- #blog Section end -->
    <!-- Contact Section end -->
    <section id="contact" class="scroll-section root-sec brand-bg padd-tb-120 contact-wrap">
        <div class="container">
            <div class="row">
                <div class="contact-inner">
                    <div class="col-sm-12 card-box-wrap">
                        <div class="row">
                            <div class="clearfix section-head contact-text">
                                <div class="col-sm-12">
                                    <h2 class="title">Contactenos</h2>
                                    <p class="regular-text">Santo Domingo Ecuador</p>
                                    <ul class="clearfix contact-info">
                                        <li>
                                            <a type="tel" name="tel" href="">+593 960588365</a>
                                        </li>
                                        <li>
                                            <a href="mailto:saecorp7@gmail.com?subject=Feedback">saecorp7@gmail.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div> <!-- contact text end -->
                            <div class="clearfix contact-form">
                                <!-- Map Start -->
                                <div class="col-lg-7 col-sm-7 col-xs-12">
                                    <div class="map-wrapper">
                                        <div id="map2">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255346.1102059876!2d-79.30430579319736!3d-0.24118267912244176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d546535730a17d%3A0xcef17541041b9f63!2sSanto+Domingo+de+los+Colorados!5e0!3m2!1ses-419!2sec!4v1555873947759!5m2!1ses-419!2sec" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div> <!-- Map end -->
                                <!-- Map Start --
                                <div class="col-sm-7">
                                  <div class="map-wrapper">
                                    <div id="map"></div>
                                  </div>
                                </div> <!-- Map end -->
                                <!-- Contact Form start -->
                                <div class="col-lg-5 col-sm-5 col-xs-12" ng-app="AppMain" ng-controller="CtrlPreguntas">
                                    <div class="clearfix card-panel grey lighten-5 cform-wrapper">
                                        <form>
                                            <div class="input-field">
                                                <input id="contact_name" type="text" name="contactName" class="validate input-box" ng-model="nombre">
                                                <label for="contact_name" class="input-label">Nombre</label>
                                            </div>
                                            <div class="input-field">
                                                <input id="email" type="email" name="contactEmail" class="validate input-box" ng-model="email">
                                                <label for="email" class="input-label">Email</label>
                                            </div>
                                            <div class="input-field">
                                                <input id="subject" type="text" name="contactSubject" class="validate input-box" ng-model="tipo">
                                                <label for="subject" class="input-label">Tipo</label>
                                            </div>
                                            <div class="input-field textarea-input">
                                                <textarea id="textarea1" name="contactMessage" class="validate materialize-textarea" ng-model="mensaje" style="height: 22px;"></textarea>
                                                <label for="textarea1" class="input-label">Mensaje</label>
                                            </div>
                                            <div class="input-field submit-wrap clearfix">
                                                <button type="submit" class="left waves-effect btn-flat brand-text submit-btn" ng-click="SaveUser()">Enviar mensaje</button>
                                                <div class="right form-loader-area">
                                                    <svg class="circular size-20" height="20" width="20">
                                                        <circle class="path" cx="10" cy="10" r="7" fill="none" stroke-width="3" stroke-miterlimit="10" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div> <!-- ./contact form end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ./container end -->
        <div class="section-call-to-area">
            <div class="container">
                <div class="row">
                    <a href="#home" class="btn-floating btn-large button-middle call-to-home section-call-to-btn animated btn-up btn-hidden" data-section="#home">
                        <i class="mdi-navigation-expand-less"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- #contact Section end -->
</section>
<script type="text/javascript">
    app.controller("CtrlPreguntas", function ($scope, ComentariosService) {

        GetUsers();

        $scope.SaveUser = function () {
            var ComentarioModel = {
                Id: $scope.id,
                Nombre: $scope.nombre,
                Email: $scope.email,
                Tipo: $scope.tipo,
                Mensaje: $scope.mensaje
            };
            //if (!CheckIsValid()) {
            //    alert('Please fill the detail!');
            //    return false;
            //}
            var requestResponse = ComentariosService.AddEdit(ComentarioModel);
            //Message(requestResponse);
            alert(requestResponse);
        };

        $scope.editUser = function (id) {
            var getData = ComentariosService.GetUser(id);
            getData.then(function (user) {
                var userData = user.data;
                $scope.id = userData.Id;
                $scope.nombre = userData.nombre;
                $scope.email = userData.email;
                $scope.tipo = userData.tipo;
                $scope.mensaje = userData.mensaje;
            },
                function () {
                    alert('Error in getting records');
                });
        }

        $scope.DeleteUser = function (id) {
            var requestResponse = ComentariosService.Delete(id);
            Message(requestResponse);
        };

        function GetUsers() {
            var requestResponse = ComentariosService.GetAll();
            requestResponse.then(function (response) {
                $scope.employees = response.data;
            }, function () {

            })
        };

        function Message(requestResponse) {
            requestResponse.then(function successCallback(response) {
                GetUsers();
                $('#addEditUser').modal('hide');
                // this callback will be called asynchronously
                // when the response is available
            }, function errorCallback(response) {
                // called asynchronously if an error occurs
                // or server returns response with an error status.
            });
        }

        ////function CheckIsValid() {
        ////    var isValid = true;
        ////    if ($('#email').val() === '' || $('#phone').val() === '' || $('#email').val() === '' || $('#phone').val() === '') {
        ////        isValid = false;
        ////    }
        ////    return isValid;
        ////}
    });

</script>